[submodule "bin/granthalaya"]
	path = bin/granthalaya
	url = https://gitlab.com/0kalekale/granthalaya
[submodule "bin/lambdadelta"]
	path = bin/lambdadelta
	url = https://gitlab.com/0kalekale/lambdadelta
[submodule "bin/CunnyWM"]
	path = bin/CunnyWM
	url = https://gitlab.com/0kalekale/CunnyWM
[submodule "lib/extern/raylib"]
	path = lib/extern/raylib
	url = https://github.com/raysan5/raylib
