[submodule "bin/granthalaya"]
	path = bin/extra/granthalaya
	url = https://gitlab.com/0kalekale/granthalaya
[submodule "bin/lambdadelta"]
	path = bin/toolchain/lambdadelta
	url = https://gitlab.com/0kalekale/lambdadelta
[submodule "bin/CunnyWM"]
	path = bin/gui/CunnyWM
	url = https://gitlab.com/0kalekale/CunnyWM
[submodule "bin/gui/CunnyWM"]
	path = bin/gui/CunnyWM
	url = https://gitlab.com/0kalekale/CunnyWM
[submodule "bin/toolchain/lambdadelta"]
	path = bin/toolchain/lambdadelta
	url = https://gitlab.com/0kalekale/lambdadelta
